/*后羿太阳按钮*/
.houyiBtn{

}

/*描述*/
.descr {
	background-color: #5bc0de;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: bold;
	color: #ffffff;
	vertical-align: baseline;
	border-radius: .25em;
}

#msgDiv>span {
	margin-right: .3em;
}

.msg {
  margin-bottom:.2em;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.foot_desc
{text-align: right;
color: #9c9c9c;
font-size: 12px;
line-height: 24px;
}

